:root {
    --primary: #032541;
    --secondary: #00A0CF;
}

* {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    padding: 0;
    margin: 0;
}

.btn {
    padding: 10px 15px;
    background-color: var(--secondary);
    color: white;
    border-radius: 8px;
    text-transform: uppercase;
    font-weight: 700;
    border: none;
    font-size: 1rem;
    transition: all .3s ease;
    display: flex;
    align-items: center;
}

.btn:hover {
    background-color: #1aa762;
    /* opacity: 1; */
    cursor: pointer;
}